@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

@import url(https://fonts.googleapis.com/css?family=Exo:400,300,200,500,600,700,800,300italic,200italic,400italic,500italic,600italic,700italic,800italic);

* {
  margin:0;
  padding:0;
  outline:none;
  list-style:none;
  text-decoration:none;
  box-sizing:border-box;
}

html, body {
  height: 100%;
  width: 100%;  
}

body {
  background: #141414;
  font-family: 'Exo', sans-serif;
  color:#fff;
  font-weight:200;
}


h1, h2, h3 {
  font-family: 'Exo', sans-serif;
  font-size:48px;
  text-transform:uppercase;
  font-weight:200;
}

.wrapper {
  position: absolute;
  top:0;bottom:0;left:0;right:0;
  margin:auto;
  transition:0.8s transform ease-in-out;
  -webkit-transition:0.8s transform ease-in-out;
  transform:scale(0.5);
  -webkit-transform:scale(0.5);
  z-index: 2;
}

.page {
  height: 100vh;
  width: 100vw;
  background: #323232;
  opacity: 0;
  position: absolute;
  top:0;left: 0;right: 0;bottom: 0;
  margin: auto;
}

.page.active {
  opacity: 1;
}

.vertical-align {
  position:relative;
  height: 160px;
  top:50%;
  transform:translateY(-50%);
    transition:0.2s all ease-in-out;
  -webkit-transition:0.2s all ease-in-out;
}

.wrap  {
  width: 60%;
  margin:0 auto;
  text-align:center;
    transition:0.2s all ease-in-out;
  -webkit-transition:0.2s all ease-in-out;
}

.page .wrap p {
  font-size:18px;
  margin:20px auto;
  width: 70%;
  opacity: .5;
  letter-spacing:1px;
}

nav {
  position: fixed;
  width: 100%;
  top:0;
  left:0;right:0;
  margin:0 auto;
  width: 100%;
  text-align:center;
  height: 100vh;
  z-index: 2;
  display:none;
  perspective:1000px;
    transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  cursor:pointer;
}

nav ul {
  position: absolute;
  top:0;right:0;left:0;
  margin:auto;width:300px;height: 360px;
  transform:rotateX(180deg) scale(0);
  -webkit-transform:rotateX(180deg) scale(0);
  transform-origin:top;
  opacity: 0;
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
    transition:1s all ease-in-out 0s;
  -webkit-transition:1s all ease-in-out 0s;
}


nav ul.active{
  transform:rotateX(0deg) scale(1.6);
  -webkit-transform:rotateX(0deg) scale(1.6);
  opacity: 1;
    transform-origin:top;
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
      transition:1s all ease-in-out 0.5s;
  -webkit-transition:1s all ease-in-out 0.5s;
}

nav ul li {
  margin:20px 0;
}

nav ul li a {
  color:#fff;
  font-size:48px;
}

.menu {
  display:block;
  position:absolute;
  top:30px;left:0;right:0;
  margin:0 auto;
  height: 25px;
  width: 40px;
  background: transparent;
  border:none;
  outline:none;
  cursor:pointer;
  z-index: 3;
}

.menu:before {
  content:"MENU";
  position: absolute;
  bottom:-20px;left:0;right:0;margin:0 auto;
  color:rgba(255,255,255,0.5);
  font-size:10px;letter-spacing:1px;
}

.menu.active:before {
  content:"CLOSE";
  position: absolute;
  bottom:-20px;left:0;right:0;margin:0 auto;
  color:rgba(255,255,255,0.5);
  font-size:10px;letter-spacing:1px;
}

.menu span {
  height: 2px;
  background: #fff;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
    transition:0.2s all ease-in-out;
  -webkit-transition:0.2s all ease-in-out;
}
.menu span:after,.menu span:before {
  content: "";
  height: 2px;
  background: #fff;
  display: block;
  width: 100%;
  position: absolute;
  transition:0.2s top ease-in-out 0.2s, transform 0.2s ease-in-out;
  -webkit-transition:0.2s top ease-in-out 0.2s, transform 0.2s ease-in-out;
}

.menu span:after {
  top:-10px;
}
.menu span:before {
  top:10px;
}

.menu.active span {
  background: transparent;
}

.menu.active span:before, .menu.active span:after {
  transition:0.2s top ease-in-out, transform 0.2s ease-in-out 0.2s;
  -webkit-transition:0.2s top ease-in-out, transform 0.2s ease-in-out 0.2s;
}

.menu.active span:after {
  top:0;
  transform:rotate(45deg);
}
.menu.active span:before {
  top:0;
  transform:rotate(-45deg);
}
.section-wrap {
    height: 100vh;
  width: 100vw;
  position: relative;
  transform-style:preserve-3d;
  perspective:1000px;
    transition:0.8s all ease-in-out;
  -webkit-transition:0.8s all ease-in-out;
  overflow:hidden;
  opacity: 1;
  
}
.section-wrap.active{
  opacity: 0.2;
  transform:scale(0.5);
  -webkit-transform:scale(0.5);
  
}

section.active {
  transform:rotateX(0deg);
}



