@import url("https://fonts.googleapis.com/css?family=Nunito");
body {
  font-family: "Nunito", sans-serif;
  background-color: #262936;
  margin: 0;
  height: 100vh;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .content {
  background-color: #292C3A;
  padding: 30px 15px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
}
.wrapper .content button {
  padding: 15px;
  width: 150px;
  border: unset;
  background: #262936;
  border-radius: 50px;
  color: #333;
  cursor: pointer;
}
.wrapper .content button:focus {
  outline: none;
}
.wrapper .content header {
  text-align: center;
}
.wrapper .content header h1 {
  color: #fff;
  margin-top: 0;
  font-size: 230%;
}
.wrapper .content .social-login {
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.wrapper .content .social-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
}
.wrapper .content .social-login button:first-child {
  margin-right: 10px;
}
.wrapper .content .social-login button:hover {
  background-color: ##3f5bd8;
}
.wrapper .content .social-login button span {
  font-size: 17px;
  color: #777;
  margin-left: 5px;
}
.wrapper .content .login-form {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .content .login-form .input-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  max-width: 310px;
}
.wrapper .content .login-form .input-group input {
  padding: 15px;
  font-size: 13px;
  border: 1px solid #262936;
  background-color: #262936;
  border-radius: 50px;
  tranistion: background 0.5s;
  -webkit-tranistion: background 0.5s;
}
.wrapper .content .login-form .input-group input:focus {
  color: #fff;
  outline: 0;
}
.wrapper .content .login-form .input-group label {
  color: #999;
  font-size: 12px;
  margin-bottom: 3px;
  margin-left: 16px;
}
.wrapper .content .login-form .input-group button {
  background-color: #3f5bd8;
  border: unset;
  color: #fff;
  align-self: center;
  margin-top: 15px;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
}
.wrapper .content .login-form .input-group button:hover {
  background-color: #262936;
}
.wrapper .content footer {
  padding-top: 15px;
  text-align: center;
}
.wrapper .content footer a {
  color: #999;
  text-decoration: none;
  font-size: 11px;
}

.wrapper .content footer label{
  color: #999;
  text-decoration: none;
  font-size: 11px;
}

@media screen and (max-width: 720px) {
  .wrapper .content {
    padding-right: 0;
    padding-left: 0;
    margin: 0 10px;
  }
}

label.error { color: white; }